* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

html {
    font-size: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    width: 100%;
    height: 10vh;
    z-index: 999;
    position: sticky;
    top: 0;
}

#logo-header {
    /* margin-left: 20px; */
    padding-left: 20px;
}

#logo-header a {
    text-decoration: none;
}

#logo-header span {
    font-size: 1rem;
    font-weight: 800;
    color: rgba(26, 25, 25);
    font-family: 'Domine', sans-serif;
}

i {
    color: rgba(26, 25, 25, 0.8);
}

#navbar {
    display: flex;
    flex-direction: row;
}

#navbar li {
    list-style: none;
    text-align: center;
    /* margin: 0 1em; */
    padding: 0 1em;
}

#navbar li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

#navbar li a:hover span,
#navbar li a:hover i {
    color: white;
}

#navbar li a span {
    font-size: 0.5em;
    margin-top: 0.2em;
    color: rgba(26, 25, 25, 0.8);
}

/* footer */
footer {
    padding: 20px 20px;
    background-color: black;
}

body>footer {
    position: sticky;
    top: 100vh;
}

#logo-footer {
    margin-bottom: 1em;
}

#content-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h4,
footer a {
    color: white;
}

footer h4 {
    border-bottom: 2px solid white;
    text-decoration-color: white;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style: none;
    font-size: 0.7rem;
}

footer .col {
    padding: 8px 16px;
}

/* index.html */
#top-image {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: cover;
    animation: change-img 30s ease infinite;
    /* Photo by <a href="https://unsplash.com/@joshuaryanphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua Reddekopp</a> on <a href="https://unsplash.com/s/photos/fashion?orientation=landscape&utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    /* Photo by <a href="https://unsplash.com/@_thedl?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">David Lezcano</a> on <a href="https://unsplash.com/s/photos/fashion-men?orientation=landscape&utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    /* Photo by <a href="https://unsplash.com/@huntersrace?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hunters Race</a> on <a href="https://unsplash.com/s/photos/fashion-men?orientation=landscape&utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    width: 100%;
    height: 40vh;
    padding: 0.5em;
}

@keyframes change-img {
    0% {
        background-image: url("../image/home-image1.jpg");
    }

    40% {
        background-image: url("../image/home-image2.jpg");
    }

    80% {
        background-image: url("../image/home-image3.jpg");
    }

    100% {
        background-image: url("../image/home-image1.jpg");
    }
}

#top-image h1 {
    font-size: 3rem;
    font-family: 'Domine', sans-serif;
}

#top-image p {
    font-size: 1rem;
}

#top-image h1,
#top-image p {
    color: white;
}

#top-image .shop-now {
    width: 7rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    background-color: black;
}

#top-image .shop-now a {
    text-decoration: none;
    color: white;
}

#featured {
    margin-top: 1rem;
    text-align: center;
}

#featured-container {
    width: 95%;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

#featured p {
    margin-bottom: 0.5rem;
}

/* product image blocks */
.product {
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 15px 15px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    position: relative;
}

.product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.product a {
    text-decoration: none;
    color: black;
}

#featured .description {
    text-align: start;
}

#featured .heart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(243, 246, 244);
    font-weight: 500px;
    color: #808080;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

#featured .product img {
    width: 100%;
    border-radius: 20px;
}

#store-info {
    margin-top: 4em;
    margin-bottom: 4em;
}

#store-info img {
    width: 100%;
}

#store-info .store-address {
    margin: auto;
    text-align: center;
}

/* products */
/* Photo by <a href="https://unsplash.com/@austin_wade?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Austin Wade</a> on <a href="https://unsplash.com/s/photos/fashion-men?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@mahdibafande?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mahdi Bafande</a> on <a href="https://unsplash.com/s/photos/fashion-men?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/fr/@mohamadkhosravi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mohamad Khosravi</a> on <a href="https://unsplash.com/s/photos/fashion-men?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@chernus_tr?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Taras Chernus</a> on <a href="https://unsplash.com/s/photos/fashion-men?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@nixcreative?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Tyler Nix</a> on <a href="https://unsplash.com/s/photos/fashion-men?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@ulrichderboven?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ulrich Derboven</a> on <a href="https://unsplash.com/s/photos/fashion-men?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */

/* store */
/* Photo by <a href="https://unsplash.com/@mercantile?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Clark Street Mercantile</a> on <a href="https://unsplash.com/s/photos/store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@nxvision?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nigel Tadyanehondo</a> on <a href="https://unsplash.com/s/photos/store?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */

/* image2,3 */
/* Photo by <a href="https://unsplash.com/@sebastianpoc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sebastian Pociecha</a> on <a href="https://unsplash.com/s/photos/fashion-man?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
/* Photo by <a href="https://unsplash.com/@hustwilson?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Huston Wilson</a> on <a href="https://unsplash.com/s/photos/fashion-man?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */



/* shop.html */
#pagination {
    text-align: center;
    margin: 2em auto;
}

#pagination a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 15px 20px;
    margin: 0 0.2em;
}

#pagination i {
    font-size: 1em;
    color: white;
}

#shop-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.description h5 {
    color: rgba(0, 0, 0, 0.5);
}

/* product.html */
#single-product .images {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

#single-product .price {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

#single-product .product-details {
    margin: 0.5rem;
}

#single-product .product-details h3 {
    margin: 0.3rem 0;
}

#single-product .product-details p {
    line-height: 1rem;
}

#single-product .regular-image {
    width: 75%;
}

#single-product .small-image img,
#single-product .regular-image img {
    width: 100%;
}

#single-product .small-image-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
}

.select-decision {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-cart {
    margin-left: 1rem;
    padding: 0.5rem;
    background-color: black;
    color: white;
}

.cloth-size {
    padding: 0.5rem;
    width: 8rem;
}

/* tablet size */
@media screen and (min-width:768px) {

    /* index.html */
    #top-image {
        height: 90vh;
        justify-content: center;
    }

    #top-image .shop-now {
        margin-top: 0.5rem;
    }

    html {
        font-size: 150%;
    }

    #store-info {
        display: flex;
        flex-direction: row;
    }

    #store-info img {
        width: 55%;
    }

    #store-info .store-address {
        width: 45%;
    }

    /* shop.html */
    .description h3,
    .description h4,
    .description h5 {
        font-size: 50%;
    }

    /* product.html */
    #single-product {
        margin: 2em auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 95%;
        height: max-content;
    }

    #single-product .product-description {
        height: max-content;
        /* min-height: 30vh; */
        /* overflow-y: auto; */
    }

    #single-product .images {
        width: 55%;
        height: max-content;
    }

    #single-product .product-details {
        /* margin: auto; */
        padding: 0.5rem;
        width: 45%;
    }
}

/* cart.html */

#cart-container {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    height: 60vh;
}

#cart-container table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 1em;
}

#cart-container table img {
    width: 70px;
}

#cart-container table td:nth-child(1) {
    width: 30px;
    text-align: center;
}

#cart-container table td:nth-child(2) {
    width: 100px;
    text-align: center;
}

#cart-container table td:nth-child(3) {
    width: 150px;
    text-align: center;
}

#cart-container table td:nth-child(4) {
    width: 100px;
    text-align: center;
}

#cart-container table td:nth-child(5) {
    width: 100px;
    text-align: center;
}

#cart-container table td:nth-child(6) {
    width: 100px;
    text-align: center;
}

#cart-container table td:nth-child(7) {
    width: 100px;
    text-align: center;
}

#cart-container table td:nth-child(6) input {
    width: 50px;
    text-align: center;
    padding: 10px 5px 10px 15px;
}

#cart-container table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart-container table thead tr {
    height: 20vh;
}

#cart-container table thead th {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}


#cart-container table tbody tr td {
    padding-top: 15px;
}

#cart-container table tbody td {
    font-size: 13px;
}

/* user.html */
#user-info {
    width: 70vw;
    max-width: 500px;
    min-width: 300px;
    margin: 2rem auto;
    padding-bottom: 2em;
}

#user-info label {
    display: block;
    margin: 0.3rem 0;
}

#user-info input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 3em;
}

#user-info .user-details {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 3em;
    border: 1px solid #cce7d0;
    border-radius: 5px;
}

/* like.html */
#like-container {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    height: 60vh;
}

#like-container table {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 1em;
}

#like-container table img {
    width: 70px;
}

#like-container table td:nth-child(1) {
    width: 30px;
    text-align: center;
}

#like-container table td:nth-child(2) {
    width: 100px;
    text-align: center;
}

#like-container table td:nth-child(3) {
    width: 150px;
    text-align: center;
}

#like-container table td:nth-child(4) {
    width: 100px;
    text-align: center;
}

#like-container table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#like-container table thead tr {
    height: 20vh;
}

#like-container table thead th {
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
}


#like-container table tbody tr td {
    padding-top: 15px;
}

#like-container table tbody td {
    font-size: 13px;
}
